/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
	--text-color: #ddd;
	--background-color: black;
	--menu-background-color: #111;
	--accent-color: #8727b8;
	--secondary-accent-color: orange;
	--tertiary-accent-color: green;
}



body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background-color: var(--background-color);
	color: var(--text-color);
	height: 100vh;
	overflow: hidden;
	margin: 0; 
	padding: 0;
}

body *, #userInput {
	font-family: "Lucida Console", Monaco, monospace;
}

* {
	-webkit-transition: border-color .1s linear,
		opacity .15s linear,
		-webkit-transform .07s linear;
	transition: border-color .1s linear,
		opacity .15s linear,
		-webkit-transform .07s linear;
	-o-transition: border-color .1s linear,
		opacity .15s linear,
		transform .07s linear;
	transition: border-color .1s linear,
		opacity .15s linear,
		transform .07s linear;
	transition: border-color .1s linear,
		opacity .15s linear,
		transform .07s linear,
		-webkit-transform .07s linear;
}

select{
	position: absolute;
	top: 2vmax;
	right: 8vmax;

	color: var(--text-color);
	background-color: var(--menu-background-color);
}

.preferenceButton {
	background-image: url('../img/settingsIcon.webp');
	background-size: cover;
	-webkit-filter: invert(1);
	        filter: invert(1);
	background-repeat: no-repeat;
	border: none;

	opacity: .8;
	margin: 0;
	position: absolute;
	top: 2vmax;
	right: 2vmax;

	width: 3vmax;
	height: 3vmax;
}

.preferenceButton:hover, .closePreferenceButton:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.closePreferenceButton {
	margin: 0;
	position: relative;
	top: 1vh;
	left: 1vh;

	background-image: url('../img/x.webp');
	background-size: cover;
	background-repeat: no-repeat;

	height: 2vh;
	width: 2vh;

	-webkit-filter: invert(1);

	        filter: invert(1);

	border: none;
}

.preferenceMenu {
	position: absolute;
	right: -37vh;
	z-index: 105;

	background: #111;
	height: 100vh;
	width: 33vh;

	border-left: .1vh solid var(--text-color);

	-webkit-transition: right .08s linear;

	-o-transition: right .08s linear;

	transition: right .08s linear;
}

.preferenceMenu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	padding: 0 1vh 0 0;

	height: 55vh;
}

.preferenceMenu ul li {
	color: var(--accent-color);
	font-size: 1.5vh;
	list-style: none;

}

input[type=checkbox] {
	width: 2vh;
	height: 2vh;
	margin-left: 2vh;
}

li input {
	font-size: 1.7vh;
	width: 5vh;
	height: 1.7vh;

	margin: 0 1.5vh 0 auto;
}

h1	{
	font-size: 3.5vmax;
	text-transform: uppercase;
	letter-spacing: 1vw;
}


nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 10vw;
	height: 84vh;
	margin-left: 4vmin;
}


#main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 90%;
	margin-right: 10vmax;
	margin-bottom: 3vh;

	-webkit-box-flex: 2;

	    -ms-flex: 2 1 1000px;

	        flex: 2 1 1000px;
}

nav button {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 11vh;
	        flex: 1 1 11vh;
	margin: .5vh auto;
	width: 11vh;
	font-size: 1.5vh;
	color: var(--text-color);
}

nav button:hover {
	font-weight: bold;
	border-color: var(--accent-color);
}

button {
	letter-spacing: 3px;
}

button {
	background-color: transparent;
	border: .2vmax solid var(--text-color);
	color: var(--text-color);
	/*text-transform: capitalize;*/
	cursor: pointer;
}

button:focus {
	outline: none;
}

.lvl8 {
	display: none;
	font-size: 1.1vh;

	color: orange;
	border-color: orange;
}


.typingArea {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	/*justify-content: center;*/
	width: 67vmin;
	/*height: 30vmin;*/
}

.fade {
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    /*height: 20%;*/
}

.prompt {
	position: relative;
	font-size: 2vmax;
	/*padding: 0 20vh 0 0;*/
	/*width: 100%;*/
	/*color: white;*/
	margin: 10vh 0 0 0;

	letter-spacing: .1vmax;
}

.smoothScroll {
	-webkit-transition: left .1s linear;
	-o-transition: left .1s linear;
	transition: left .1s linear;
}

.paragraph {
	color: grey;
	word-wrap: break-word;
	width: 103%;
	font-size: 2.4vmin;
	margin: 6.5vmin auto 0 auto;
}

.line{
	white-space: nowrap;
}

.paragraph .line {
	margin-left: 1.6vmin;
	display: block;
}

#resetButton {
	margin: 6vmin auto 4vmin auto;
	width: 30%;
	font-size: 4.5vh;
}

input {
	height: 6vmin;
	font-size: 4vmin;
	width: 80%;
	margin: 2.5vh auto 3vh auto;
}



#scoreAndClock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

	font-size: 5vmin;
}

#scoreText, #timeText {
	font-family: 'Verdana', sans-serif;
}

#testResults {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	-webkit-box-flex: 1;

	    -ms-flex: 1 1 8vh;

	        flex: .8 1 7vh;
}

.bottomText {
	position: absolute;
	font-size: 2vmin;
	bottom: 0;
}

a:link {
	color: var(--accent-color);
}


/*____________________Slider________________________*/

#mappingToggle {
	position: absolute;
	bottom: 3vh;
	right: -6vh;
	width: 15vw;
}

#mappingToggle h6 {
	position: relative;
	left: -2.6vmin;
	font-size: 1vmin;
	margin: 0 0 2vmin 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 7.5vmin;
  height: 4.5vmin;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
 	position: absolute;
 	cursor: pointer;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background-color: var(--accent-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 3vmin;
  width: 3vmin;
  left: .75vmin;
  bottom: .75vmin;
  background-color: white;
  -webkit-transition: .4s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #444;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px purple;
          box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3vmin);
  -ms-transform: translateX(3vmin);
  transform: translateX(3vmin);
}


/*___________cheatsheet___________*/

.cheatsheetContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 5vh;
	width: 69vh;
}

.key, .cKey {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: transparent;
	border: .2vh solid var(--accent-color);
	height: 75%;
	width: 5.4%;

	opacity: .5;

	border-bottom-right-radius: 7%;
	border-bottom-left-radius: 7%;

	vertical-align: top;
}

.letter {
	display: block;
	font-size: 2.2vh;
	font-weight: bold;

	text-transform: uppercase;
}

.big {
	width: 8%;
}

.bigger {
	width: 10%;
}

.biggest {
	width: 12%;
}

.Space {
	width: 39%;
}

.inactive {
	opacity: .6;
	border-color: var(--accent-color);
}

.currentLevelKeys {
	border-color: var(--tertiary-accent-color);
	color: var(--tertiary-accent-color);
	opacity: 1;
	-webkit-filter: brightness(1.2);
	        filter: brightness(1.2);
}

.homeRow {
	border-color: var(--secondary-accent-color);
	color: var(--secondary-accent-color);
	opacity: 1;
}

.restingPosition {
	text-decoration: underline;
}

.active {
	border-color: var(--accent-color);
	color: var(--accent-color);
	opacity: 1;
	-webkit-filter: brightness(1.5);
	        filter: brightness(1.5);
}



.punctuation {
	border-color: var(--text-color);
	color: white;
	opacity: 1;
	-webkit-filter: brightness(1.5);
	        filter: brightness(1.5);
}


.openUIButton {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Edit_Notepad_Icon.svg');
	background-size: cover;
	-webkit-filter: invert(1);
	        filter: invert(1);

	position: relative;
	top: -.3vmax;
	margin: 0 0 0 1vmin;

	border: none;

	height: 2.5vmax;
	width: 2.5vmax;

	display: none;
}

.openUIButton:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

/*__________________custom ui keyboard________________*/

.customInput {
	position: absolute;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	left: 23vw;
	top: 23vh;
	z-index: 100;

	border: .2vmax solid var(--text-color);
	background-color: var(--menu-background-color);
	height: 37vmax;
	width: 60vmax;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	display: none;

	-webkit-transition: -webkit-transform .15s linear;

	transition: -webkit-transform .15s linear;

	-o-transition: transform .15s linear;

	transition: transform .15s linear;

	transition: transform .15s linear, -webkit-transform .15s linear;
}

#inputKeyboard {
	display: block;
	margin: 6.5vmax auto 0 auto;
	width: 88%;
	white-space: nowrap;
}

#inputKeyboard .row {
	width: 95%;
	margin: auto;
}

.cKey {
	border-color: var(--accent-color);
}

.cKey:hover {
	border-color: white;
}

.cKey .letter {
	z-index: -1;
	text-transform: none;
	font-size: 2vmax;
}

.normalCKey {
	border-color: #777;
}

.selectedInputKey, .selectedInputKey:hover {
	border-color: white;
	opacity: .9;
}

.pulse {
	-webkit-animation: pulse .8s infinite;
	        animation: pulse .8s infinite;
}


#selectedInputKey {
	background: var(--accent-color);
}

#customUIKeyInput {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
}

.buttonHolder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width: 90%;
}

.saveButton, .discardButton {
	font-size: 2.3vmax;

	height: 1vmax;
	width: 1vmax;
	padding: 1vmax;
	border: none;
}


.saveButton:hover, .discardButton:hover {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
}

/*__________________custom level select________________*/
#customUILevelSelect {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 2vmax auto 2vmax auto;
	background: red .2;

	height: 8vmax;
	width: 100%;
}


.customUILevelButton {
	font-size: 2vmax;
	margin: 2vmax auto;
	opacity: .8;

	background-color: #191919;
}

.customUILevelButton:hover {
	opacity: 1;
	-webkit-filter: brightness(1.5);
	        filter: brightness(1.5);
}

.currentCustomUILevel {
	border-color: var(--tertiary-accent-color);
	color: var(--tertiary-accent-color);
	background-color: #2f3f2f;
	opacity: 1;
} 


/*____________________Toggle-able classes______________*/


.noDisplay {
	display: none;
}

.visible {
	display: block;
}

.transparent {
	opacity: 0;
}

.currentLevel {
	color: var(--accent-color);
	border-color: var(--accent-color);
	font-weight: bold;
}

/*.hide-me {
	z-index: -100;
  animation: hideme .5s linear forwards;
}

@keyframes hideme {
  0% {
  	left: 0;
  }
  100% {
  }
}*/

/*___________________________ANIMATIONS________________________*/

.slideLeft {
	position: relative;
	color: blue;
	-webkit-animation: slideLeft .2s 1 linear;
	        animation: slideLeft .2s 1 linear;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.slideOff {
	position: relative;
	color: blue;
	-webkit-animation: slideOff .2s 1 linear;
	        animation: slideOff .2s 1 linear;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
	0%   { 
		opacity: 1;
	}
	60% { 
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}

@keyframes pulse {
	0%   { 
		opacity: 1;
	}
	60% { 
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}















